In [5]:
import pandas as pd
from datetime import datetime,timedelta

In [24]:
data= pd.read_csv('/home/junseo/KRX_py/KRX_DATA/open/train.csv')
data_additional=pd.read_csv('/home/junseo/KRX_py/KRX_DATA/open/train_additional.csv')

In [25]:
data

              일자     종목코드     종목명      거래량     시가     고가     저가     종가
0       20210601  A060310      3S   166690   2890   2970   2885   2920
1       20210601  A095570  AJ네트웍스    63836   5860   5940   5750   5780
2       20210601  A006840   AK홀딩스   103691  35500  35600  34150  34400
3       20210601  A054620     APS   462544  14600  14950  13800  14950
4       20210601  A265520   AP시스템   131987  29150  29150  28800  29050
...          ...      ...     ...      ...    ...    ...    ...    ...
987995  20230530  A189980  흥국에프엔비   272284   3005   3035   2955   2980
987996  20230530  A000540    흥국화재    50218   3250   3255   3195   3215
987997  20230530  A003280    흥아해운   130664   1344   1395   1340   1370
987998  20230530  A037440      희림   141932   9170   9260   9170   9200
987999  20230530  A238490      힘스  2611843   6410   8220   6300   8220

[988000 rows x 8 columns]

In [26]:
data_additional

             일자     종목코드       종목명       거래량      시가      고가      저가      종가
0      20230531  A005930      삼성전자  25666087   72400   72500   71000   71400
1      20230531  A000660    SK하이닉스   8166685  110000  110900  108500  108600
2      20230531  A207940  삼성바이오로직스     73829  777000  787000  776000  784000
3      20230531  A006400     삼성SDI    280762  712000  723000  712000  718000
4      20230531  A051910      LG화학    489828  702000  710000  692000  693000
...         ...      ...       ...       ...     ...     ...     ...     ...
83995  20230728  A001080      만호제강     12964   35550   36000   34700   36000
83996  20230728  A104700      한국철강     72644    5780    6030    5780    6030
83997  20230728  A045100     한양이엔지     59562   16230   16390   15970   16330
83998  20230728  A000020      동화약품     86169    9870   10080    9700    9800
83999  20230728  A060380     동양에스텍    368634    2785    2925    2770    2865

[84000 rows x 8 columns]

In [27]:
data=pd.concat([data,data_additional])
data

             일자     종목코드     종목명     거래량     시가     고가     저가     종가
0      20210601  A060310      3S  166690   2890   2970   2885   2920
1      20210601  A095570  AJ네트웍스   63836   5860   5940   5750   5780
2      20210601  A006840   AK홀딩스  103691  35500  35600  34150  34400
3      20210601  A054620     APS  462544  14600  14950  13800  14950
4      20210601  A265520   AP시스템  131987  29150  29150  28800  29050
...         ...      ...     ...     ...    ...    ...    ...    ...
83995  20230728  A001080    만호제강   12964  35550  36000  34700  36000
83996  20230728  A104700    한국철강   72644   5780   6030   5780   6030
83997  20230728  A045100   한양이엔지   59562  16230  16390  15970  16330
83998  20230728  A000020    동화약품   86169   9870  10080   9700   9800
83999  20230728  A060380   동양에스텍  368634   2785   2925   2770   2865

[1072000 rows x 8 columns]

In [28]:
def convert_date(date_str):
  return pd.to_datetime(date_str, format="%Y%m%d").strftime("%Y-%m-%d")
data["일자"] =data["일자"].apply(convert_date)

In [29]:
data

               일자     종목코드     종목명     거래량     시가     고가     저가     종가
0      2021-06-01  A060310      3S  166690   2890   2970   2885   2920
1      2021-06-01  A095570  AJ네트웍스   63836   5860   5940   5750   5780
2      2021-06-01  A006840   AK홀딩스  103691  35500  35600  34150  34400
3      2021-06-01  A054620     APS  462544  14600  14950  13800  14950
4      2021-06-01  A265520   AP시스템  131987  29150  29150  28800  29050
...           ...      ...     ...     ...    ...    ...    ...    ...
83995  2023-07-28  A001080    만호제강   12964  35550  36000  34700  36000
83996  2023-07-28  A104700    한국철강   72644   5780   6030   5780   6030
83997  2023-07-28  A045100   한양이엔지   59562  16230  16390  15970  16330
83998  2023-07-28  A000020    동화약품   86169   9870  10080   9700   9800
83999  2023-07-28  A060380   동양에스텍  368634   2785   2925   2770   2865

[1072000 rows x 8 columns]

In [30]:
data.to_csv('/home/junseo/KRX_py/csvs/train_data_csv/data.csv')

In [22]:
gl=pd.read_csv('/home/junseo/KRX_py/KRX_DATA/open/goldlee.csv')
gl = gl[gl["일자"].isin(data["일자"].unique())]
gl.set_index('일자',inplace=True)

In [31]:
gl.to_csv('/home/junseo/KRX_py/csvs/train_data_csv/goldlee.csv')