In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from sklearn.preprocessing import MinMaxScaler
from google.colab import drive

def getAOC(data):
  AOC = []
  close = data['종가']

  # aoc = (금일 종가 - 전일 종가) / 전일 종가
  for i in range(len(close)):
    aoc_value = ((close[i] - close[i-1]) / close[i-1]) * 100
    AOC.append(aoc_value)

  AOC[0] = 0    #첫 index에는 이전 정보가 없어서 임의의 값으로 초기화 시켜주고 return함
  return AOC

drive.mount('/content/drive')

sub=pd.read_csv("./drive/MyDrive/Colab Notebooks/sample_submission.csv")
data=pd.read_csv("./drive/MyDrive/Colab Notebooks/train.csv")

#sort data by "종목명"
subject_Data=data.sort_values(by="종목명",inplace=False)
subject_Data.head()
subject_Data.columns

pv_s_data=pd.pivot_table(subject_Data,values=['거래량', '시가', '고가', '저가', '종가'],index=['종목코드','일자'])

pv_s_data["AOC"] = getAOC(pv_s_data)
pv_s_data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                     거래량     고가     시가     저가     종가       AOC
종목코드    일자
A000020 20210601  114966  14700  14700  14450  14600  0.000000
        20210602  109559  14700  14700  14450  14500 -0.684932
        20210603   96158  14650  14550  14450  14600  0.689655
        20210604  133900  14800  14600  14550  14700  0.684932
        20210607  511140  15550  14800  14750  15150  3.061224
...                  ...    ...    ...    ...    ...       ...
A383800 20230523  150364   8390   8390   8310   8330 -0.358852
        20230524  122457   8340   8310   8280   8300 -0.360144
        20230525   84241   8310   8300   8270   8310  0.120482
        20230526  126681   8310   8300   8270   8280 -0.361011
        20230530   70489   8300   8300   8270   8290  0.120773

[988000 rows x 6 columns]